spring:
  application:
    name: back
  profiles:
    active: dev
  output:
    ansi:
      enabled: always


  datasource:
    url: jdbc:h2:./db_dev
    driver-class-name: org.h2.Driver
    username: sa
    password:
    hikari:
      auto-commit: false
  mvc:
    hiddenmethod:
      filter:
        enabled: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true

  thymeleaf:
    cache: false
    prefix: file:src/main/resources/templates/

logging:
  level:
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE